<style>
  .email-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 61px;
  }
</style>

<body className="email-content">
  <p>Hello, {{ name }}</p>
  <p>It seems that you requested a password reset, but if you didn't, please, ignore this email</p>
  <br />
  <p>
    In order to reset your password, access this
    <a href={{ link }}>link</a>
  </p>
  <br />

  <p>Best regards, <strong>Hotseat Team</strong></p>
</body>
